@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #F18F01;
    --primary-hover: #F56157;
    --primary-disabled: #FFC0BA;
    --light: #FFF7ED;
    --dark: #402E32;
    --dark-hover: #524438;
    --grey: #DFE0DF;
    --error: #c35557;
    --success: #228D1A;
}

@layer components {
    .main-container {
        @apply w-full max-w-[1300px] px-5 mx-auto
    }

    .main-padding-y {
        @apply pt-[70px] sm:pt-[100px]
    }

    .auth-container {
        @apply w-full max-w-[500px] p-5 mx-auto bg-white rounded-2xl
    }

    .button-common {
        @apply px-6 py-2 rounded-xl transition duration-300
    }

    .button-primary {
        @apply bg-primary hover:bg-primary-hover disabled:bg-primary-disabled disabled:cursor-not-allowed
    }

    .button-secondary {
        @apply bg-dark hover:bg-dark-hover text-white
    }

    .button-white {
        @apply bg-grey hover:bg-white
    }

    .nav-link {
        @apply text-lg text-dark font-medium hover:text-primary transition duration-300
    }

    .link {
        @apply text-lg text-primary font-semibold hover:text-dark transition duration-300
    }

    .heading1 {
        @apply text-4xl sm:text-5xl lg:text-6xl font-bold text-dark
    }

    .heading2 {
        @apply text-3xl sm:text-4xl lg:text-5xl font-semibold text-dark
    }

    .form-box {
        @apply mb-5 flex flex-col
    }

    .label {
        @apply text-dark text-lg mb-1 font-medium
    }

    .input {
        @apply py-2 px-4 rounded-lg text-dark border border-grey placeholder:text-dark outline-none focus:border-dark
    }

    .input-error {
        @apply border-error focus:border-error
    }

    .input-error-message {
        @apply mt-1 text-error invisible
    }

    .input-error-message-show {
        @apply visible
    }
}