@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #F18F01;
    --primary-hover: #F56157;
    --light: #FFF7ED;
    --dark: #402E32;
}

@layer components {
    .main-container {
        @apply w-full max-w-[1300px] px-5 mx-auto
    }

    .button-common {
        @apply px-6 py-2 rounded-xl transition duration-300
    }

    .button-primary {
        @apply bg-primary hover:bg-primary-hover
    }

    .nav-link {
        @apply text-lg text-dark font-medium hover:text-primary transition duration-300
    }
}